@import "./vars";

.game {
    background: pink;
}

.touchpad {
    #1 {
        background-color: $touchpad-color1
    }
    #2 {
        background-color: $touchpad-color2
    }
    #3 {
        background-color: $touchpad-color3
    }
    #4 {
        background-color: $touchpad-color4
    }
}